{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!-- Hero Section -->
  <section id="hero" class="hero section accent-background">

    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row gy-5 justify-content-between">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h2><span>Welcome to </span><span class="accent">SignHub</span></h2>
          <p>
            Custom Signs for Every Business Need!  
          </p>
          <div class="d-flex">
            <a href="#about" class="btn-get-started">Get a Qoute</a>
            <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
          </div>
        </div>
        <div class="col-lg-5 order-1 order-lg-2">
          <img src="{% static 'img/hero-img.svg' %}" class="img-fluid" alt="">
        </div>
      </div>
    </div>

    <div class="icon-boxes position-relative" data-aos="fade-up" data-aos-delay="200">
      <div class="container position-relative">
        <div class="row gy-4 mt-5">

          <div class="col-xl-3 col-md-6">
            <div class="icon-box" style="padding: 40px 30px;">
              <div class="icon"><i class="bi bi-brush"></i></div>
              <p class=""><a href="" class="stretched-link">
                Tailor-made signage solutions designed to fit your business needs and branding.
              </a></p>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6">
            <div class="icon-box" style="padding: 40px 30px;">
              <div class="icon"><i class="bi bi-award"></i></div>
              <p class=""><a href="" class="stretched-link">
                We use high-quality materials to ensure durability and professional finishes.</a>
              </p>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6">
            <div class="icon-box" style="padding: 40px 30px;">
              <div class="icon"><i class="bi bi-truck"></i></div>
              <p class=""><a href="" class="stretched-link">
                From design to installation, we deliver signage solutions across the country.</a>
              </p>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6">
            <div class="icon-box" style="padding: 40px 30px;">
              <div class="icon"><i class="bi bi-clock-history"></i></div>
              <p class=""><a href="" class="stretched-link">
                Quick production and installation to get your business noticed in no time!
              </a></p>
            </div>
          </div><!--End Icon Box -->

        </div>
      </div>
    </div>

  </section><!-- /Hero Section -->

  <!-- About Section -->
  <section id="about" class="about section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>About Sign Hub<br></h2>
      <h3>          Only Cool Sign & Print - Signs that build business
      </h3>
      <p>
        Despite minimal online presence and promotion, Sign Hub has earned a strong reputation in the signage industry. Our meticulous craftsmanship and dedication to quality have fostered positive word-of-mouth referrals from satisfied clients.
Specializing in digital printing and signage, we offer a wide range of products, including yard signs, custom signage, business signs, graphic banners, outdoor signage, and promotional sale signs. At Sign Hub, we bring our clients' visions to life with fast turnaround times and cost-effective solutions.

        </p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row gy-4">
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <h3>Who We Are</h3>
          <img src="{% static 'img/value.jpg' %}" class="img-fluid rounded-4 mb-4" alt="">
          <p>
            Sign Hub is a proudly Kiwi-owned business that started as a small, home-based venture in 2010. In 2014, we transitioned to digital printing and have since collaborated with a diverse range of clients, from small businesses to large enterprises. Our commitment to quality, innovation, and customer satisfaction has positioned us as a trusted name in the signage industry.
            </p>
        </div>
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="250">
          <div class="content ps-0 ps-lg-5">
            <h2>Our Mission
            </h2>
            
            <p>
              At Sign Hub, we are committed to managing and fulfilling all of our clients' signage needs. From concept to completion, we serve as a trusted project partner, ensuring our clients' visions are brought to life with precision and excellence.

            </p>

            <h2>Our Vision
            </h2>
            
            <p>
              Our vision is to be the premier choice for interior and exterior signage, as well as vehicle graphics, tailored to fit any budget. We achieve this by providing innovative business solutions that deliver real value to our clients. Integrity, professionalism, and customer-centric service are the cornerstones of our operations, ensuring a seamless and satisfying experience for every client.

            </p>

            <h2>Our Aim</h2>
            <p>
              Our aim is to meet any signage and printing requirements that suit any business needs. 

            </p>
            <p>
              Talk to us today and let’s make your business grow!

            </p>

            <div class="position-relative mt-4">
              <img src="{% static 'img/about-2.jpg' %}" class="img-fluid rounded-4" alt="">
              <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox pulsating-play-btn"></a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </section><!-- /About Section -->


  <!-- Services Section -->
  <section id="services" class="services section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Our Services</h2>
      <p>
        Make your business stand out with our high-quality signage solutions.
      </p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="service-item  position-relative">
            <div class="icon">
              <i class="bi bi-signpost"></i>
            </div>
            <h3>Signage</h3>
            <p>
              Bring your workplace vision to life. We understand the importance of custom signage and display your brand’s identity. </p>
            <a href="service-details.html" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-megaphone"></i>
            </div>
            <h3>Display</h3>
            <p>
              Display signs are the most effective marketing tool for your unique services, promotional products, special offers, and seasonal sales. </p>
            <a href="service-details.html" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-easel"></i>
            </div>
            <h3>Digital Printing</h3>
            <p>
              Our digital printing services allow us to give you exceptional quality, flexibility and fast turnaround times.</p>
            <a href="service-details.html" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="400">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-columns"></i>
            </div>
            <h3>Vehicle Signs</h3>
            <p>
              With car signage, it is possible to use the inexpensive vehicle graphics to let the world know about your company. </p>
            <a href="service-details.html" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
          </div>
        </div><!-- End Service Item -->



      </div>

    </div>

  </section><!-- /Services Section -->

  <!-- Testimonials Section -->
  <section id="testimonials" class="testimonials section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Testimonials</h2>
      <p>
        Necessitatibus eius consequatur ex aliquid 
        fuga eum quidem sint consectetur velit</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="swiper init-swiper">
        <script type="application/json" class="swiper-config">
          {
            "loop": true,
            "speed": 600,
            "autoplay": {
              "delay": 5000
            },
            "slidesPerView": "auto",
            "pagination": {
              "el": ".swiper-pagination",
              "type": "bullets",
              "clickable": true
            },
            "breakpoints": {
              "320": {
                "slidesPerView": 1,
                "spaceBetween": 40
              },
              "1200": {
                "slidesPerView": 3,
                "spaceBetween": 10
              }
            }
          }
        </script>
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
              <h3>Saul Goodman</h3>
              <h4>Ceo &amp; Founder</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span>
                  I needed business cards and banners for my event, and they delivered beyond my expectations. The print quality was top-notch, and the team was super helpful throughout the process!
                </span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
              <h3>Sara Wilsson</h3>
              <h4>Designer</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span>
                  I gave them a rough idea for my logo, and they transformed it into something amazing! The design was clean, modern, and exactly what I was looking for.
                </span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
              <h3>Jena Karlis</h3>
              <h4>Store Owner</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span>
                  I’ve used their services multiple times for flyers and promotional materials. They always deliver on time, and the pricing is very reasonable. Highly recommend!
                </span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
              <h3>Matt Brandon</h3>
              <h4>Freelancer</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span>
                  From logo design to printed merchandise, they handled everything flawlessly. My brand now looks professional, and I keep getting compliments on the quality."
                  </span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

          

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>

  </section><!-- /Testimonials Section -->

  <!-- Portfolio Section -->
  <section id="portfolio" class="portfolio section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Our Work</h2>
      <!-- <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p> -->
    </div><!-- End Section Title -->

    <div class="container">

      <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

        <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-signage">Signage</li>
          <li data-filter=".filter-display_signs">Display Signs</li>
          <li data-filter=".filter-digital_printing">Digital Printing</li>
          <li data-filter=".filter-vehicle_signs">Vehicle Signs</li>
        </ul><!-- End Portfolio Filters -->

        <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">
          {% for item in items %}
            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-{{ item.service.name|lower }}">
              <div class="portfolio-content h-100">
                <a href="{{ item.image.url }}" data-gallery="portfolio-gallery-{{ item.service.name|lower }}" class="glightbox">
                  <img src="{{ item.image.url }}" class="img-fluid" alt="{{ item.service.name }}" style="width: 100%; height: 200px; object-fit: cover;">
                </a>
              </div>
            </div><!-- End Portfolio Item -->
          {% endfor %}
        </div>
        


      </div>

    </div>

  </section><!-- /Portfolio Section -->

  <!-- Team Section -->
  <section id="team" class="team section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Our Team</h2>
      <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row gy-4">

        <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
          <div class="member">
            <img src="{% static 'img/team/team-1.jpg' %}" class="img-fluid" alt="">
            <h4>Walter White</h4>
            <span>Graphic Designer</span>
            <div class="social">
              <a href=""><i class="bi bi-twitter-x"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div><!-- End Team Member -->

        <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
          <div class="member">
            <img src="{% static 'img/team/team-2.jpg' %}" class="img-fluid" alt="">
            <h4>Sarah Jhinson</h4>
            <span>Print Specialist</span>
            <div class="social">
              <a href=""><i class="bi bi-twitter-x"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div><!-- End Team Member -->

        <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
          <div class="member">
            <img src="{% static 'img/team/team-3.jpg' %}" class="img-fluid" alt="">
            <h4>William Anderson</h4>
            <span>Marketing Manager</span>
            <div class="social">
              <a href=""><i class="bi bi-twitter-x"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div><!-- End Team Member -->

        <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
          <div class="member">
            <img src="{% static 'img/team/team-4.jpg' %}" class="img-fluid" alt="">
            <h4>Amanda Jepson</h4>
            <span>Manager</span>
            <div class="social">
              <a href=""><i class="bi bi-twitter-x"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div><!-- End Team Member -->

      </div>

    </div>

  </section><!-- /Team Section -->


  <!-- Faq Section -->
  <section id="faq" class="faq section">

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="content px-xl-5">
            <h3><span>Frequently Asked </span><strong>Questions</strong></h3>
            <p>
              <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit -->
            </p>
          </div>
        </div>

        <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">

          <div class="faq-container">
            <div class="faq-item faq-active">
              <h3><span class="num">1.</span> <span>What services do you offer?</span></h3>
              <div class="faq-content">
                <p>
                  We provide graphic design, custom printing, branding materials, and promotional products. Whether you need business cards, banners, posters, or merchandise printing, we’ve got you covered!
                  </p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div><!-- End Faq item-->

            <div class="faq-item">
              <h3><span class="num">2.</span> <span>Do you offer custom designs?</span></h3>
              <div class="faq-content">
                <p>
                  Yes! Our graphic designers can create unique and personalized designs based on your needs. You can also provide your own artwork, and we’ll ensure it’s print-ready.
                  </p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div><!-- End Faq item-->

            <div class="faq-item">
              <h3><span class="num">3.</span> <span>What file formats do you accept for printing?</span></h3>
              <div class="faq-content">
                <p>
                  We accept high-resolution files in PDF, AI, PSD, PNG, and JPEG formats. If you’re unsure, send us your file, and we’ll check if it meets print requirements.
                  </p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div><!-- End Faq item-->

            <div class="faq-item">
              <h3><span class="num">4.</span> <span>How can I place an order?</span></h3>
              <div class="faq-content">
                <p>
                  You can place an order through our website, by phone, or by visiting our store. Simply choose your product, upload your design (if applicable), and confirm the details.
                  </p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div><!-- End Faq item-->

            <div class="faq-item">
              <h3><span class="num">5.</span> <span>Do you offer bulk printing discounts?</span></h3>
              <div class="faq-content">
                <p>
                  Absolutely! We offer special pricing for bulk orders. Contact us for a custom quote based on your quantity and specifications.
                  </p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div><!-- End Faq item-->

          </div>

        </div>
      </div>

    </div>

  </section><!-- /Faq Section -->



  <!-- Contact Section -->
  <section id="contact" class="contact section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Contact</h2>
      <p>
        Let’s Bring Your Ideas to Life – Get in Touch Today!      
      </p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row gx-lg-0 gy-4">

        <div class="col-lg-4">
          <div class="info-container d-flex flex-column align-items-center justify-content-center">
            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h3>Address</h3>
                <p>123 Birkdale, Auckland, NZ 0627</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Call Us</h3>
                <p>+64 123 4567</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Email Us</h3>
                <p>info@signhub.com</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="500">
              <i class="bi bi-clock flex-shrink-0"></i>
              <div>
                <h3>Open Hours:</h3>
                <p>Mon-Sat: 8AM - 6PM</p>
              </div>
            </div><!-- End Info Item -->

          </div>

        </div>

        <!-- Contact Form -->
      <div class="col-lg-8">
        <form action="{% url 'contact' %}" method="post" class="" style="padding: 0 30px" data-aos="fade" data-aos-delay="100">
          {% csrf_token %}
          <div class="row gy-4">

            <div class="col-md-6">
              <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
            </div>

            <div class="col-md-6">
              <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
            </div>

            <div class="col-md-6">
              <input type="text" class="form-control" name="phone" placeholder="Your Phone" required="">
            </div>

            <div class="col-md-6">
              <select name="category" class="form-control" required>
                <option value="" disabled selected>Please select Service</option>
                <option value="signage">Signage</option>
                <option value="display_signs">Display Signs</option>
                <option value="digital_printing">Digital Printing</option>
                <option value="vehicle_signs">Vehicle Signs</option>
              </select>
            </div>

            <div class="col-md-12">
              <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
            </div>

            <div class="col-md-12">
              <textarea class="form-control" name="description" rows="8" placeholder="Message" required=""></textarea>
            </div>

            <div class="col-md-12 text-center">
              <button type="submit" style="color:#fff; background:#008374; border:0; padding:10px 30px; transition:0.4s;border-radius:50px">Send Message</button>
            </div>

          </div>
        </form>
      </div><!-- End Contact Form -->
        
</div><!-- End Contact Form -->

      </div>

    </div>

  </section><!-- /Contact Section -->

{% endblock %}

 